.container {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px dotted gainsboro;
  .header {
    color: cadetblue;
    font-weight: 500;
  }
  .body {
    opacity: 0.6;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: cadetblue;
  }
}
