.container {
  position: relative;
  display: flex;
  width: 100%;
  .example-card {
    padding: 5px;
    max-width: 25%;
    box-shadow: none;
    .card-content {
      padding-top: 1rem;
      font-size: 1.2rem;
      .content-span {
        font-weight: bolder;
      }
      .content-name {
        font-size: 2rem;
      }
    }
  }
  .container-body {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border: 1px dotted;
    border-radius: 1rem;
    .body-header {
      position: absolute;
      top: 0;
      font-weight: bolder;
      z-index: 9999;
      background-color: white;
    }
    .body-main {
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
}
